/.idea/modules.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_16_1_2025_г__2_14_[Changes]/shelved.patch
/.idea/sumup.iml
/.idea/shelf/Uncommitted_changes_before_Update_at_16_1_2025___2_14__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
